@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraBold.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Bold.woff") format("woff"),url("../fonts/Roboto/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Thin.woff") format("woff"),url("../fonts/Roboto/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Regular.woff") format("woff"),url("../fonts/Roboto/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ThinItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Italic.woff") format("woff"),url("../fonts/Roboto/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Heavy.woff") format("woff"),url("../fonts/Roboto/Roboto-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Light.woff") format("woff"),url("../fonts/Roboto/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-BlackItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraLight.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-LightItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraLightItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-BoldItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Medium.woff") format("woff"),url("../fonts/Roboto/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-Black.woff") format("woff"),url("../fonts/Roboto/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-MediumItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-HeavyItalic.woff") format("woff"),url("../fonts/Roboto/Roboto-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto/Roboto-ExtraBold.woff") format("woff"),url("../fonts/Roboto/Roboto-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraBold.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Bold.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Thin.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Regular.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ThinItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Italic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Heavy.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Heavy.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Light.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-BlackItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraLight.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-LightItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraLightItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-BoldItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Medium.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-Black.woff") format("woff"),url("../fonts/TT Norms/TTNorms-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-MediumItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-HeavyItalic.woff") format("woff"),url("../fonts/TT Norms/TTNorms-HeavyItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Norms";
  font-display: swap;
  src: url("../fonts/TT Norms/TTNorms-ExtraBold.woff") format("woff"),url("../fonts/TT Norms/TTNorms-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "circe";
  font-display: swap;
  src: url("../fonts/circe/circe.woff") format("woff"),url("../fonts/circe/circe.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "circe-thin";
  font-display: swap;
  src: url("../fonts/circe-thin/circe-thin.woff") format("woff"),url("../fonts/circe-thin/circe-thin.woff2") format("woff2");
  font-weight: 100;
  font-style: thin;
}

@font-face {
  font-family: "circe-light";
  font-display: swap;
  src: url("../fonts/circe-light/circe-light.woff") format("woff"),url("../fonts/circe-light/circe-light.woff2") format("woff2");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "circe-extralight";
  font-display: swap;
  src: url("../fonts/circe-extralight/circe-extralight.woff") format("woff"),url("../fonts/circe-extralight/circe-extralight.woff2") format("woff2");
  font-weight: 200;
  font-style: ultralight;
}

@font-face {
  font-family: "circe-extrabold";
  font-display: swap;
  src: url("../fonts/circe-extrabold/circe-extrabold.woff") format("woff"),url("../fonts/circe-extrabold/circe-extrabold.woff2") format("woff2");
  font-weight: 800;
  font-style: extrabold;
}

@font-face {
  font-family: "circe-bold";
  font-display: swap;
  src: url("../fonts/circe-bold/circe-bold.woff") format("woff"),url("../fonts/circe-bold/circe-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-Bold.woff") format("woff"),url("../fonts/Lorin/Lorin-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-ExtraBold.woff") format("woff"),url("../fonts/Lorin/Lorin-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-Light.woff") format("woff"),url("../fonts/Lorin/Lorin-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lorin";
  font-display: swap;
  src: url("../fonts/Lorin/Lorin-Regular.woff") format("woff"),url("../fonts/Lorin/Lorin-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Light.woff") format("woff"),url("../fonts/Poppins/Popping-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Regular.woff") format("woff"),url("../fonts/Poppins/Popping-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-BoldSemiBold.woff") format("woff"),url("../fonts/Poppins/Popping-BoldSemiBold.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Thin.woff") format("woff"),url("../fonts/Poppins/Popping-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Italic.woff") format("woff"),url("../fonts/Poppins/Popping-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-MediumItalic.woff") format("woff"),url("../fonts/Poppins/Popping-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraLightItalic.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraLightItalic.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraBoldItalic.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraBoldItalic.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraBold.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-LightItalic.woff") format("woff"),url("../fonts/Poppins/Popping-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Black.woff") format("woff"),url("../fonts/Poppins/Popping-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ThinItalic.woff") format("woff"),url("../fonts/Poppins/Popping-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Medium.woff") format("woff"),url("../fonts/Poppins/Popping-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-ExtraLight.woff") format("woff"),url("../fonts/Poppins/Popping-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-BoldItalic.woff") format("woff"),url("../fonts/Poppins/Popping-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-SemiBoldItalic.woff") format("woff"),url("../fonts/Poppins/Popping-SemiBoldItalic.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-Bold.woff") format("woff"),url("../fonts/Poppins/Popping-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  font-display: swap;
  src: url("../fonts/Poppins/Popping-BlackItalic.woff") format("woff"),url("../fonts/Poppins/Popping-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000;
  overflow: hidden;
  font-family: circe;
  position: relative;
  font-family: "Roboto",sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

input {
  padding: 0;
  margin: 0;
  border: 0;
  border: none;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

.containers {
  max-width: 1440px;
  padding: 0 165px;
  margin: 0 auto;
}

ol,
ul {
  padding-left: 0;
}

dl,
ol,
ul {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

.display-n {
  display: none !important;
}

.display-f {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.display-g {
  display: -ms-grid !important;
  display: grid !important;
}

.headers {
  width: 100%;
  height: 100vh;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.headers__block {
  -webkit-animation: header 3s ease-in-out;
          animation: header 3s ease-in-out;
  width: 489px;
  height: 900px;
  background: #252525;
  border-radius: 244.5px;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 0;
}

.headers__icons {
  width: 100%;
  height: 100vh;
  background: transparent;
  position: relative;
}

.headers__icons-item {
  width: 33px;
  height: 33px;
  background: #aeadad;
  border-radius: 50%;
  position: absolute;
}

.headers__icons-item:nth-child(1) {
  top: 50px;
  left: 50px;
}

.headers__icons-item:nth-child(2) {
  top: 50px;
  right: 50px;
}

.headers__icons-item:nth-child(3) {
  bottom: 50px;
  left: 50px;
}

.headers__icons-item:nth-child(4) {
  bottom: 50px;
  right: 50px;
}

.headers__text {
  -webkit-animation: headersText 3s ease-in-out;
          animation: headersText 3s ease-in-out;
  position: absolute;
  top: 50%;
  left: 56px;
  width: .7em;
  text-align: center;
  word-wrap: break-word;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
  z-index: 10;
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
}

.headers__btns {
  width: 484px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.headers__btns-play {
  width: 118px;
  height: 118px;
  border: 2px solid #fff;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}

.headers__btns-play a {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #fff;
}

.headers__btns-scroll {
  width: 312px;
  height: 118px;
  border: 2px solid #fff;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 59px;
  padding: 0 0 0 54px;
  position: relative;
  cursor: pointer;
}

.headers__btns-scroll::after {
  content: url(../svg/headers/arrow-next.svg);
  position: absolute;
  top: 45px;
  right: 43px;
}

.headers__btns-scroll a {
  font-family: TT Norms;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

@-webkit-keyframes header {
  0% {
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 0;
  }

  10% {
    width: 109px;
    height: 109px;
    background: #2b2b2b;
    border-radius: 244.5px;
  }

  30% {
    width: 293px;
    height: 293px;
    background: #2b2b2b;
    border-radius: 244.5px;
  }

  50% {
    width: 489px;
    height: 489px;
    background: #2b2b2b;
    border-radius: 244.5px;
  }

  75% {
    width: 489px;
    height: 667px;
    background: #252525;
    border-radius: 244.5px;
  }

  100% {
    width: 489px;
    height: 900px;
    background: #252525;
    border-radius: 244.5px;
  }
}

@keyframes header {
  0% {
    width: 0;
    height: 0;
    background: transparent;
    border-radius: 0;
  }

  10% {
    width: 109px;
    height: 109px;
    background: #2b2b2b;
    border-radius: 244.5px;
  }

  30% {
    width: 293px;
    height: 293px;
    background: #2b2b2b;
    border-radius: 244.5px;
  }

  50% {
    width: 489px;
    height: 489px;
    background: #2b2b2b;
    border-radius: 244.5px;
  }

  75% {
    width: 489px;
    height: 667px;
    background: #252525;
    border-radius: 244.5px;
  }

  100% {
    width: 489px;
    height: 900px;
    background: #252525;
    border-radius: 244.5px;
  }
}

@-webkit-keyframes headersText {
  0% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  98% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  100% {
    left: 56px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}

@keyframes headersText {
  0% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  98% {
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }

  100% {
    left: 56px;
    -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
  }
}